 <header>
  <div class="container" id="layout-header">
    <div class="col-12 ">
      <div class="row">
        <img id="layout-logo" src="\images\My Personal Trainer-logos_black.png" alt="">

      </div>
    </div>
  </div>
  <br>
  <br>
</header>

<form action="/auth/login" method="POST">
   <label> Username 
      <br>
      <input type="text" name="userName">
   </label>
   <br>
   <br>
   <label> Password
      <br>
      <input type="password" name="password">
   </label>
<br>
<br>
<br>
   <button type="submit">Submit</button>
</form>

    <form action="/auth/signup" method="GET">
    <br>
<br>
        <button type="submit">Sign Up</button>
    </form>
{{#if errorMessage}}
   {{errorMessage}}
{{/if}}