<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="container" id="layout-header">
      <img
        id="layout-logo"
        src="\images\My Personal Trainer-logos_black.png"
        alt=""
      />
    </div>

    <form action="/auth/signup" method="POST">
      <label>
        Username:

        <input type="text" name="userName" placeholder="example123" />
      </label>

      <label>
        Email:

        <input type="email" name="email" placeholder="example@mail.com" />
      </label>

      <label>
        Password:

        <input type="password" name="password" placeholder="****" />
      </label>

      <label>
        Tell us about yourself:<br />

        <textarea name="about" cols="32" rows="10"></textarea>
      </label>
      <br /><label>Role:<br />
        <select name="role">
          <option value="instructor">Instructor</option>
          <option value="client">Client</option>
        </select>
      </label>
      <br />
      <button type="submit">Submit</button>
    </form>

    {{#if errorMessage}}
      {{errorMessage}}
    {{/if}}
    <script src="/js/script.js"></script>
  </body>

</html>