
  <div class="container" id="layout-header">
        <img id="layout-logo" src="\images\My Personal Trainer-logos_black.png" alt="">
  </div>


<form action="/auth/signup" method="POST">
  <label>
    Username:

    <input type="text" name="userName" />
  </label>

  <label>
    Email:
  
    <input type="email" name="email" />
  </label>

  <label>
    Password:
   
    <input type="password" name="password" />
  </label>

  <label>
    About:
  
    <textarea type="text" name="about" cols="30" rows="10">Tell us about your self
    </textarea>
  </label>

  <label>Role:

    <select name="role">
      <option value="instructor">Instructor</option>
      <option value="client">Client</option>
    </select>
  </label>
<br>
  <button type="submit">Submit</button>
</form>

{{#if errorMessage}}
  {{errorMessage}}
{{/if}}