 <header>
  <div class="container" id="layout-header">
    <div class="col-12 ">
      <div class="row">
        <img id="layout-logo" src="\images\My Personal Trainer-logos_black.png" alt="">

      </div>
    </div>
  </div>
  <br>
  <br>
</header>

<form action="/auth/signup" method="POST">
  <label>
    Username:
    <br>
    <input type="text" name="userName" />
  </label>
  <br>
  <br>
  <label>
    Email:
    <br>
    <input type="email" name="email" />
  </label>
  <br>
  <br>
  <label>
    Password:
    <br>
    <input type="password" name="password" />
  </label>
  <br>
  <br>
  <label>
    About:
    <br>
    <textarea type="text" name="about" cols="30" rows="10">Tell us about your self
    </textarea>
  </label>
  <br>
  <br>
  <label>Role:
    <br>
    <br>
    <select name="role">
      <option value="instructor">Instructor</option>
      <option value="client">Client</option>
    </select>
  </label>
<br>
<br>
<br>
<br>
  <button type="submit">Submit</button>
</form>

{{#if errorMessage}}
  {{errorMessage}}
{{/if}}