<div>
  <div>
    <h1>Create a workout</h1>
    <form class="workoutform" action="" method="POST">
      <label>Exercises:
        <select name="exercises" multiple>
          {{#each exercise}}
            <option value="{{_id}}">{{name}}</option>
          {{/each}}
        </select>
      </label>
      {{!-- <input type="text" name="description" placeholder="{{description}}" /> --}}
      <label for="">Description:
        <textarea name="description" id="" cols="30" rows="10"></textarea>
      </label>
      <button> Add to Workout</button>
    </form>
  </div>

</div>