<header>
  <img
    class="xtra-margin"
    id="front-page-logo"
    src="\images\My Personal Trainer-logos_black.png"
    alt=""
  />
</header>

{{#if user}}
  <form action="/{{user.role}}/homepage" method="GET">
    <button type="submit">Homepage</button>
  </form>
  <form action="/auth/logout" method="GET">
    <button type="submit">Logout</button>
  </form>

{{else}}
  <form action="/auth/login" method="GET">
    <button type="submit">Login</button>
  </form>
  <br />
  <form action="/auth/signup" method="GET">
    <button type="submit">Sign Up</button>
  </form>
  <br />
  {{!-- <form action="" method="GET">
    <button type="submit">About</button>
  </form> --}}
{{/if}}