<h1>Edit Your Profile {{client.userName}}</h1>

<form action="/client/edit-profile" method="post" enctype="multipart/form-data">
  <h4>Profile Details</h4>
  <br />
  <label>Username:
    <input type="text" name="username" value="{{client.userName}}" />
  </label>
  <label>Email:
    <input type="text" name="email" value="{{client.userName}}" />
  </label>
  <label>Edit About:
    <br />
    <textarea type="text" name="about" cols="30" rows="10">{{client.about}}
    </textarea>
    <br />
  </label>
  <label>Edit profile picture:
    <input
      type="file"
      id="image_input"
      name="file"
      accept="image/*,.jpg,.jpeg,.webp"
    />
  </label>
  <br />
  <br />

  <button>Submit</button>
</form>