<header>
    <div class="container" id="layout-header">
        <img id="layout-logo" src="\images\My Personal Trainer-logos_black.png" alt="" />
    </div>
</header>
<div>
    <h1>Coming Soon</h1>
</div>