<h1>Your Home Page: {{client.userName}}</h1>

{{!
<h3>Your Tasks:</h3>
<ul>
    <li>Task 1</li>
    <li>Task 2</li>
    <li>Task 3</li>

</ul> }}

{{! <label for="tasks">Your progress:</label> }}

{{! <progress id="file" max="100" value="70"> 70% </progress>
<br>
<br>
<br> }}

<form action="/clients/{{client._id}}/workout" method="get">
    <button>Your Workout </button>
</form>
<br />
<form action="/user/favorites" method="get">
    <button>Favorite Exercises</button>
</form>
<br>
<form action="/exercises/" method="get">
    <button>All Exercises</button>
</form>
{{! <br>
<form action="/client/client-day" method="get">
    <button>Your Day</button>
</form> --}}
<br>
<form action="/clients/profile" method="get">
    <button>Your Profile</button>
</form>

<br>
<form action="/clients/{{client._id}}/client-instructor" method="get">
    <button>Contact your Instructor</button>
</form>
<br />
<form action="/auth/logout" method="GET">
    <button type="submit">Logout</button>
</form>