body {
 
  width: 100vw;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  margin: 0 auto;
  background: orange
}

#layout-header{
  width: 100vw;
  margin: 20% auto;
}
#layout-header img{
  width: 50%;
}


/* HOMEPAGE */
.hompage-container{
  margin: 0 auto;
}
.hompage-container button{
  margin: 0 auto;
}

.hompage-container ul, .hompage-container li{ 
  padding-inline-start: 0;
  padding: 0;
}



a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

img {
  width: 30%;
}

.workoutform {
  display: flex;
  flex-direction: column;
}

input {
  display: flex;
  flex-direction: column;
  margin: 20;
  justify-content: center;

}

textarea {
  margin: 20;
}

button {
  width: 150px;
  height: 30px;
  border: none;
  outline: none;
  color: #fff;
  background: rgb(3, 1, 8);
  border-radius: 10px;
  padding: 5px 5px;
  margin: 10px;
}

.btn-orange {
  width: 150px;
  height: 30px;
  border: none;
  outline: none;
  color: #fff;
  background: #E73725;
  border-radius: 10px;
  padding: 5px 5px;
  margin: 10px;
}

li {
  list-style: none;
}

.flex-center-row-wrap{
display: flex;
justify-content: space-around;
flex-flow: row wrap;
}

.instructor-add-clients {
  display: flex;
  align-items: flex;
  justify-content: center;
  }

.flex{
  display: flex
}






@media only screen and (min-width: 992px) {
  .main {
    position: relative;
    top: 200px;
    z-index: 2000;
  }

  .navbar {
    position: absolute;
    top: -95%;
  }

  .img {
    width: 10%;
    height: auto;
  }
}
