body {
  margin: 0;
  width: 50%;
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  margin: auto;
}



@media only screen and (min-width: 992px) {
  .main {
    position: relative;
    top: 200px;
    z-index: 2000;
  }

  .navbar {
    position: absolute;
    top: -840px;
  }

  .img {
    width: 10%;
    height: auto;
  }
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

img {
  width: 30%;
}

.workoutform {
  display: flex;
  flex-direction: column;
}

input {
  display: flex;
  flex-direction: column;
  margin: 20;
  justify-content: center;

}

textarea {
  margin: 20;
}

button {
  margin: 20;
  width: 150px;
  height: 30px;
  border: none;
  outline: none;
  color: #fff;
  background: rgb(3, 1, 8);
  border-radius: 10px;
}

.btn-orange {
  margin: 20;
  width: 150px;
  height: 30px;
  border: none;
  outline: none;
  color: #fff;
  background: #E73725;
  border-radius: 10px;
}

li {
  list-style: none;
}

.instructor-clients {
display: flex;
justify-content: center;
flex-flow: row wrap;
}

.instructor-add-clients {
  display: flex;
  align-items: flex;
  justify-content: center;
  }

