<script>

  function changeStatus() { var status = document.getElementById("catg")
  if(status.value !== "weight"){
  document.getElementById("repsAndSets").style.visibility="hidden" } else{
  document.getElementById("repsAndSets").style.visibility="visible" } }

</script>

<form action="/exercises/create" method="POST" enctype="multipart/form-data">
  Add/Create an exercise:
  <label>Name:
    <input type="text" name="name" />
  </label>
  <label>Category:</label>
  <select id="catg" onchange="changeStatus()" name="category">
    <option value="weight">Weight-lifting</option>
    <option value="cardio">Cardio</option>
    <option value="yoga">Yoga</option>
    <option value="interval">Interval</option>
    <option value="dance">Dance</option>
    <option value="balance">Balance</option>
    <option value="other">Other</option>
  </select>

  <label>Description:
    <textarea name="description" cols="30" rows="10"></textarea>
  </label>
  <div id="repsAndSets">
    <label id="repsAndSets">
      Reps:
      <select name="reps" id="repsAndSets">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="">N/A</option>
      </select>
    </label>
    <label id="repsAndSets">Sets:
      <select name="sets" id="repsAndSets">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="">N/A</option>
      </select>
    </label>
  </div>
  <label>Image:</label>
  <input type="file" id="image_input" name="file" accept="image/*" />

  <button type="submit">Create!</button>

  <form action="/exercises" method="get">
    <button>Return to all Exercises</button>
  </form>
</form>