<form action="/exercises/create" method="post">
  Add/Create an exercise:
  <label>Name:
    <input type="text" name="name" />
  </label>
  <label>Category:
    <input type="text" name="category" />
  </label>
  <label>Description:
    <textarea name="description" cols="30" rows="10"></textarea>
  </label>
  <label>
    Reps:
    <select name="reps" id="">
      <option value="reps">1</option>
      <option value="reps">2</option>
      <option value="reps">3</option>
      <option value="reps">4</option>
      <option value="reps">5</option>
      <option value="reps">6</option>
      <option value="reps">7</option>
      <option value="reps">8</option>
      <option value="reps">9</option>
      <option value="reps">10</option>
      <option value="reps">11</option>
      <option value="reps">12</option>
      <option value="reps">13</option>
      <option value="reps">14</option>
      <option value="reps">15</option>
      <option value="reps">N/A</option>
    </select>
  </label>
  <label>Sets:
    <select name="sets" id="">
      <option value="sets">1</option>
      <option value="sets">2</option>
      <option value="sets">3</option>
      <option value="sets">4</option>
      <option value="sets">5</option>
      <option value="sets">N/A</option>
    </select>
  </label>
</form>