<script>

  function changeStatus() { var status = document.getElementById("catg")
  if(status.value !== "weight"){
  document.getElementById("repsAndSets").style.visibility="hidden" } else{
  document.getElementById("repsAndSets").style.visibility="visible" } }

</script>
<form action="/exercises/create" method="POST" enctype="multipart/form-data">
  <div id="exercise-list">
    <h4> Add/Create an exercise:</h4>
    <label>Name:
      <input type="text" name="name" required />
    </label>
    <label>Category:</label>
    <select id="catg" onchange="changeStatus()" name="category">
      <option value="weight">Weight-lifting</option>
      <option value="cardio">Cardio</option>
      <option value="yoga">Yoga</option>
      <option value="interval">Interval</option>
      <option value="dance">Dance</option>
      <option value="balance">Balance</option>
      <option value="other">Other</option>
    </select>

    <label>Description:
    </label>

    <textarea name="description" cols="30" rows="10"></textarea>

    <label>Image:</label>
    <input type="file" id="image_input" name="file" accept="image/*" required />

    <button type="submit">Create!</button>

  </div>
</form>
<form action="/exercises" method="get">
  <button>Return to all Exercises</button>
</form>