<div>
  <h1>List of exercises:</h1>
  {{#each exercises}}
    <img src="{{this.image}}" alt="image of {{this.name}}" />
    <h3>{{this.name}}</h3>
    <div>
      <a href="/exercises/{{this._id}}">More details!</a>
    </div>
  {{/each}}
</div>