<h1>Your Home Page: {{instructor.userName}}</h1>

<form action="/instructor/profile" method="get">
    <button>Your Profile </button>
</form>

<h3>Your Clients:</h3>
{{#each instructor.clients}}
<ul>
    <li>{{userName}}</li>
    
</ul>
{{/each}}
<form action="/instructor/{{instructor._id}}/add-client" method="post">Add Client
    <input name="email" placeholder="client email">
    <button>Submit</button>
</form>


<form action="/instructor/exercises" method="get">
    <button>Your Exercises </button>
</form>
<br>

<br>
<form action="/exercises/" method="get">
    <button>All Exercises</button>
</form>
<br>
<form action="/client/client-day" method="get">
    <button>Your Day</button>
</form>
<br>

