<div class="instructor-edit">

<form
  action="/instructor/profile/edit"
  method="POST"
  enctype="multipart/form-data"
>

  <label>
    Edit Username:
    <input type="text" name="userName" value="{{instructor.userName}}" />
  </label>
  <label>
    Edit Email:
    <input type="email" name="email" value="{{instructor.email}}" />
  </label>
  <label>
    <label>
    About:
    <br>
    <textarea type="text" name="about" cols="30" rows="10">Tell us about your self
    </textarea>
  </label>
  <br>
    Password
    <input type="password" name="password" value="{{instructor.password}}" />
  </label>
  <label>Role:
    <select name="role">
      <option value="instructor">Instructor</option>
      <option value="client">Client</option>
    </select>
  </label><br>
  <label>Edit profile picture:<br>
    <input type="file" id="image_input" name="file" accept="image/*,.jpg,.jpeg,.webp" />  />
  </label>
  <button type="submit">Submit</button>
</form>

{{#if errorMessage}}
  {{errorMessage}}
{{/if}}