<h1>Instructor Workout Homepage</h1>

<form action="/exercises/create" method="get">
  <button>Create new workout</button>
</form>

<form action="/exercises/" method="get">
  <button>Exercise List</button>
</form>

<form action="/instructor/homepage" method="get">
  <button>Return to homepage</button>
</form>