<h1>Instructor Workout Homepage</h1>

<form action="/exercises/create" method="get">
  <button>Add Your Exercises</button>
</form>

<form action="/exercises/" method="get">
  <button>Your Exercises List</button>
</form>

<form action="/instructor/homepage" method="get">
  <button>Return to homepage</button>
</form>